<div id="app" class="uk-text-center">
    <p>Log in als administrator</p>

    <p>
        <a href="<%= google_url %>" class="uk-button uk-button-primary" ><i class="uk-icon-google uk-margin-small-right"></i>
            Inloggen met Google</a>
    </p>

</div>
