<li <% if (page == 'Dashboard') {%> class="uk-active"<%}%>><a href="/">Dashboard</a></li>
<li <% if (page == 'Gebruikers') {%> class="uk-active"<%}%>><a href="/gebruikers">Gebruikers</a></li>
<li <% if (page == 'Sjows') {%> class="uk-active"<%}%>><a href="/sjows">Sjows</a></li>
<li <% if (page == 'Media') {%> class="uk-active"<%}%>><a href="/mediabeheer">Media</a></li>
<li <% if (page == 'Abonnementen') {%> class="uk-active"<%}%>><a href="/abonnementen">Abonnementen</a></li>
<li <% if (page == 'Facturen') {%> class="uk-active"<%}%>><a href="/facturen">Facturen</a></li>
<li <% if (page == 'Configuratie') {%> class="uk-active"<%}%>><a href="/configuratie">Configuratie</a></li>
