<p>Dit is nog een "proof of concept". Er zullen op zeer korte termijn veranderingen gaan plaatsvinden.</p>

<ul style="list-style-type:circle">
    <li>Deze site kan zonder opgave van reden veranderen en / of offline gehaald worden </li>
    <li>De channels die aangemaakt worden kunnen door deze veranderingen wegvallen of onbruikbaar worden</li>
    <li>zolang de site in develpement edition is kan de programeur niet instaan voor welke verlies dan ook</li>
</ul>

<p><em>Deze site is alleen toegankelijk voor beta-testers</em></p>
