
        </td>

    </tr>

    <tr>
        <td style="
    padding: 20px 30px;
    font-family: helvetica, arial, sans-serif;
    line-height: 24px;
    font-size: 12px;
    background: #DADADA;
"><p style="
    margin: 0;text-align: center;
">
           Maak uw eigen sjow op <a href="<%=base_url%>" style="
    text-decoration: none;
    color: #c31719;
">member.sjow.me</a>!</p></td>
    </tr>
    </tbody></table>

</body></html>