<html lang="en" style="
    margin: 0;
    padding: 0;
"><head>
    <meta charset="UTF-8">
    <title>Emailtemplate</title>
    <style type="text/css">

        p{
            margin-bottom: 20px;
            font-family: helvetica, arial, sans-serif;
        }

    </style></head>
<body style="
    padding: 0px;
    margin: 0px;
    background: #DADADA;
">
<table style="
    width: 500px !important;
    border: none;
    border-spacing: 0px;
    margin-left: auto;
    background: white;
    margin-right: auto;
    margin-top: 0px;
">
    <tbody><tr style="">
        <th style="
    width: 550px;
    margin: 0px;
    padding: 0;
"><img src="http://member.sjow.me/assets/images/header-mail.jpg" alt="" style="
    border: none;
    margin: 0;
    padding: 0;
"></th>
    </tr>
    <tr style="
    /* padding-left: 10px; */
">
        <td style="
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    line-height: 24px;
    font-family: helvetica, arial, sans-serif;
">
