<%- include('./mail-head.ejs') %>

<p>Beste <%= data.user.name || 'Gebruiker' %>,</p>

<p>Bedankt voor uw registratie bij SjowMe.</p>

<p>met vriendelijke groeten,</p>

<p>Het SjowMe Team</p>

<%- include('./mail-foot.ejs') %>