<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sjow.me</title>
    <link rel="stylesheet" href="/assets/css/screen.css">
    <link rel="icon" href="/assets/images/favicon.ico"/>
    <script>var $default_locale = 'nl-NL';</script>
    <script>var $data = <%- JSON.stringify(data) %>;</script>
</head>
<body>
    <%- body %>
</body>
</html>

