

<div class="uk-form-row">
    <div class="uk-form-controls">
        <label><input type="checkbox" v-model="active" class="uk-margin-small-right"/>Toon titel</label>
    </div>
</div>

<div class="uk-form-row">
    <span class="uk-form-label">
        <span class="uk-flex uk-flex-middle uk-flex-space-between">
            <span class="uk-flex-item-1">{{ 'Positie' | trans }}</span>
            <info-icon class="uk-margin-small-left" url="//www.sjow.me/positie/" size="uk-icon-small"
                       :title="$trans('Meer informatie')"></info-icon>
        </span>
    </span>
    <div class="uk-form-controls sj-pick-position">
        <div class="uk-position-relative uk-flex uk-flex-center uk-flex-middle">
            <button class="uk-button uk-button-small uk-position-top-left"
                    :title="positionError('tl', 'title')" data-uk-tooltip="delay:400" :disabled="!active"
                    :class="{'uk-button-danger': positionError('tl', 'title'), 'uk-button-success': slide.config.title.position == 'tl'}"
                    @click="setTitlePosition('tl')"><i :class="[(slide.config.title.position == 'tl' ? 'uk-icon-toggle-on': 'uk-icon-toggle-off')]"></i></button>

            <button class="uk-button uk-button-small uk-position-top-right"
                    :title="positionError('tr', 'title')" data-uk-tooltip="delay:400" :disabled="!active"
                    :class="{'uk-button-danger': positionError('tr', 'title'), 'uk-button-success': slide.config.title.position == 'tr'}"
                    @click="setTitlePosition('tr')"><i :class="[(slide.config.title.position == 'tr' ? 'uk-icon-toggle-on': 'uk-icon-toggle-off')]"></i></button>

            <button class="uk-button uk-button-small"
                    :title="positionError('c', 'title')" data-uk-tooltip="delay:400" :disabled="!active"
                    :class="{'uk-button-danger': positionError('c', 'title'), 'uk-button-success': slide.config.title.position == 'c'}"
                    @click="setTitlePosition('c')"><i :class="[(slide.config.title.position == 'c' ? 'uk-icon-toggle-on': 'uk-icon-toggle-off')]"></i></button>

            <button class="uk-button uk-button-small uk-position-bottom-left"
                    :title="positionError('bl', 'title')" data-uk-tooltip="delay:400" :disabled="!active"
                    :class="{'uk-button-danger': positionError('bl', 'title'), 'uk-button-success': slide.config.title.position == 'bl'}"
                    @click="setTitlePosition('bl')"><i :class="[(slide.config.title.position == 'bl' ? 'uk-icon-toggle-on': 'uk-icon-toggle-off')]"></i>
            </button>

            <button class="uk-button uk-button-small uk-position-bottom-right"
                    :title="positionError('br', 'title')" data-uk-tooltip="delay:400" :disabled="!active"
                    :class="{'uk-button-danger': positionError('br', 'title'), 'uk-button-success': slide.config.title.position == 'br'}"
                    @click="setTitlePosition('br')"><i :class="[(slide.config.title.position == 'br' ? 'uk-icon-toggle-on': 'uk-icon-toggle-off')]"></i>
            </button>

        </div>
    </div>
</div>

<fields :model.sync="slide.config.title" :config="$options.form_fields.title" template="formrow"></fields>

