<div id="app" class="uk-height-viewport uk-responsive-height">
    <component v-ref:slideshow :is="component" :viewdata="viewdata"></component>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/uikit/js/uikit.min.js"></script>
<script src="/assets/uikit/js/components/notify.min.js"></script>
<script src="/assets/lodash/dist/lodash.min.js"></script>
<script src="/assets/vimeo-player-js/dist/player.min.js"></script>
<script src="/assets/vue/vue.js"></script>
<script src="/js/demo.js"></script>

