<div id="app">

    <div class="uk-grid uk-grid-match" data-uk-grid-match="target:'> div > .uk-panel'" data-uk-grid-margin>
        <div class="uk-width-medium-3-4">
            <div class="uk-panel">
                <%- content %>
            </div>
        </div>
        <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box">
                <%- include('../../content/helpdesk.menu.html') %>
            </div>
        </div>
    </div>

</div>
