<div id="app" class="uk-text-center">
    <p>U bent nog niet ingelogd. Log in met uw Google Account (maak eventueel een gratis <a
                href="https://accounts.google.com/signup" target="_blank">Google Account</a> aan).</p>

    <p class="uk-margin-large">
        <a href="<%= google_url %>" class="uk-button uk-button-primary"><i class="uk-icon-google uk-margin-small-right"></i>
            Inloggen met Google</a>
    </p>



</div>
