<div id="app" class="uk-height-viewport uk-responsive-height">
    <ul class="uk-list uk-slideshow-fullscreen">
        <screen-slide :slide="slide"
                      :channel="channel"
                      :modules="modules"></screen-slide>
    </ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/uikit/js/uikit.min.js"></script>
<script src="/assets/uikit/js/components/notify.min.js"></script>
<script src="/assets/lodash/dist/lodash.min.js"></script>
<script src="/assets/vimeo-player-js/dist/player.min.js"></script>
<script src="/assets/vue/vue.js"></script>
<script src="/js/preview.js"></script>

